@charset "utf-8";
/* SCSS Document */

$corporate-blue: #11497b;
$grey: #c9c9c9;

* {
	box-sizing: border-box;
}

/* Header Styling */


html, body {
	width: 100vw;
	height: 100%;
}

header {
	height: 50px;
	width: 100vw;
	margin: 0;
		
	img {
		display: inline-block;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
}

.back-button, .home-button {
	width: 15%;
	padding: 10px;
}

.grundfos-logo {
	width: 68%;
}

.title {
	background: $corporate-blue;
	height: 1.5em;
	text-align: center;
	color: #ffffff;
	line-height: 1.5em;
}

/* Main */

main {
	display: block;
	justify-content: center;
	flex-direction: column;
	margin: auto 0 0 0;
	height: 100%;
}

.input-heading {
	background: $grey;
	text-align: center;
	font-variant-caps: all-small-caps;
	padding: 5px 0;
	width: 95%;
	margin: 0 auto;
}

.input {
	width: 95%;
	margin: 0 auto;
	border: 5px solid $grey;
	display: block;
	height: 3em;
	padding: 0.2em;
	
	&:first-of-type {margin-bottom:2em};
}

.login {
	width: 95%;
	margin: 2em auto 0;
	display: block;
	background: $corporate-blue;
	height: 3em;
	padding: 0.5em;
	color: #ffffff;
	font-variant-caps: all-small-caps;
	font-size: 1.5em;
}
